/backend/.env
/backend/.env.*
!/backend/.env.example
/backend/node_modules
/backend/venv
/backend/pycache__
/backend/__pycache__
/backend/.vscode
.vscode
/node_modules
/web-client/.env.local
/web-client/.env.*.local
!/web-client/.env.example
__pycache__/
