NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_b3V0Z29pbmctbWFrby0yNi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_AuY44AnRxjd9ZVst75wAudkouLWrMR6WIIO9CBA48k
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyAQbzdQYbzxS7MAfGTcam3DoEokULDPJhU
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/onboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/onboard